# Lab 6 Regresion Logistica
## Raul Castellanos 20180052

In [44]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

### Data

In [45]:
df = pd.read_csv("wine_data.csv", names = ['label', 'Alcohol', 'Malic Acid', 'Ash', 'Alcalinity of Ash', 'Magnesium', 'Total Phenols', 'Flavanoids', 'Notflavanoid Phenol','Proanthocyanins', 'Color intensity', 'Hue', 'OD280/OD315 diluted wines', 'Proline'])
df.columns = ['label', 'Alcohol', 'Malic Acid', 'Ash', 'Alcalinity of Ash', 'Magnesium', 'Total Phenols', 'Flavanoids', 'Notflavanoid Phenol',
             'Proanthocyanins', 'Color intensity', 'Hue', 'OD280/OD315 diluted wines', 'Proline']
df['Ones'] = 1
df.head()

,label,Alcohol,Malic Acid,Ash,Alcalinity of Ash,Magnesium,Total Phenols,Flavanoids,Notflavanoid Phenol,Proanthocyanins,Color intensity,Hue,OD280/OD315 diluted wines,Proline,Ones
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1

In [46]:
df.shape

(178, 15)

### Array

### Creando 3 dataframes ya que hay 3 tipos en "Label"

In [47]:
dfl1 = df.replace({'label' : {1:1, 2:0, 3:0}})
dfl2 = df.replace({'label' : {1:0, 2:1, 3:0}})
dfl3 = df.replace({'label' : {1:0, 2:0, 3:1}})

In [48]:
# X Y label = 1
X1 = dfl1.drop('label', axis = 1)
y1 = dfl1['label']

In [49]:
# X Y label = 2
X2 = dfl2.drop('label', axis = 1)
y2 = dfl2['label']

In [50]:
# X Y label = 3
X3 = dfl3.drop('label', axis = 1)
y3 = dfl3['label']

### Estandarizacion X

In [51]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [52]:
X1SC = sc.fit_transform(X1)
X2SC = sc.fit_transform(X1)
X3SC = sc.fit_transform(X1)

XL1 = pd.DataFrame(X1SC)
XL2 = pd.DataFrame(X2SC)
XL3 = pd.DataFrame(X3SC)

print(XL1)

           0         1         2         3         4         5         6   \
0    1.518613 -0.562250  0.232053 -1.169593  1.913905  0.808997  1.034819
1    0.246290 -0.499413 -0.827996 -2.490847  0.018145  0.568648  0.733629
2    0.196879  0.021231  1.109334 -0.268738  0.088358  0.808997  1.215533
3    1.691550 -0.346811  0.487926 -0.809251  0.930918  2.491446  1.466525
4    0.295700  0.227694  1.840403  0.451946  1.281985  0.808997  0.663351
..        ...       ...       ...       ...       ...       ...       ...
173  0.876275  2.974543  0.305159  0.301803 -0.332922 -0.985614 -1.424900
174  0.493343  1.412609  0.414820  1.052516  0.158572 -0.793334 -1.284344
175  0.332758  1.744744 -0.389355  0.151661  1.422412 -1.129824 -1.344582
176  0.209232  0.227694  0.012732  0.151661  1.422412 -1.033684 -1.354622
177  1.395086  1.583165  1.365208  1.502943 -0.262708 -0.392751 -1.274305

           7         8         9         10        11        12   13
0   -0.659563  1.224884  0.251717  0.362177  1.847920  1.013009  0.0
1   -0.820719 -0.544721 -0.293321  0.406051  1.113449  0.965242  0.0
2   -0.498407  2.135968  0.269020  0.318304  0.788587  1.395148  0.0
3   -0.981875  1.032155  1.186068 -0.427544  1.184071  2.334574  0.0
4    0.226796  0.401404 -0.319276  0.362177  0.449601 -0.037874  0.0
..        ...       ...       ...       ...       ...       ...  ...
173  1.274310 -0.930179  1.142811 -1.392758 -1.231206 -0.021952  0.0
174  0.549108 -0.316950  0.969783 -1.129518 -1.485445  0.009893  0.0
175  0.549108 -0.422075  2.224236 -1.612125 -1.485445  0.280575  0.0
176  1.354888 -0.229346  1.834923 -1.568252 -1.400699  0.296498  0.0
177  1.596623 -0.422075  1.791666 -1.524378 -1.428948 -0.595160  0.0

[178 rows x 14 columns]

In [53]:
print(XL2)

           0         1         2         3         4         5         6   \
0    1.518613 -0.562250  0.232053 -1.169593  1.913905  0.808997  1.034819
1    0.246290 -0.499413 -0.827996 -2.490847  0.018145  0.568648  0.733629
2    0.196879  0.021231  1.109334 -0.268738  0.088358  0.808997  1.215533
3    1.691550 -0.346811  0.487926 -0.809251  0.930918  2.491446  1.466525
4    0.295700  0.227694  1.840403  0.451946  1.281985  0.808997  0.663351
..        ...       ...       ...       ...       ...       ...       ...
173  0.876275  2.974543  0.305159  0.301803 -0.332922 -0.985614 -1.424900
174  0.493343  1.412609  0.414820  1.052516  0.158572 -0.793334 -1.284344
175  0.332758  1.744744 -0.389355  0.151661  1.422412 -1.129824 -1.344582
176  0.209232  0.227694  0.012732  0.151661  1.422412 -1.033684 -1.354622
177  1.395086  1.583165  1.365208  1.502943 -0.262708 -0.392751 -1.274305

           7         8         9         10        11        12   13
0   -0.659563  1.224884  0.251717  0.362177  1.847920  1.013009  0.0
1   -0.820719 -0.544721 -0.293321  0.406051  1.113449  0.965242  0.0
2   -0.498407  2.135968  0.269020  0.318304  0.788587  1.395148  0.0
3   -0.981875  1.032155  1.186068 -0.427544  1.184071  2.334574  0.0
4    0.226796  0.401404 -0.319276  0.362177  0.449601 -0.037874  0.0
..        ...       ...       ...       ...       ...       ...  ...
173  1.274310 -0.930179  1.142811 -1.392758 -1.231206 -0.021952  0.0
174  0.549108 -0.316950  0.969783 -1.129518 -1.485445  0.009893  0.0
175  0.549108 -0.422075  2.224236 -1.612125 -1.485445  0.280575  0.0
176  1.354888 -0.229346  1.834923 -1.568252 -1.400699  0.296498  0.0
177  1.596623 -0.422075  1.791666 -1.524378 -1.428948 -0.595160  0.0

[178 rows x 14 columns]

In [54]:
print(XL3)

           0         1         2         3         4         5         6   \
0    1.518613 -0.562250  0.232053 -1.169593  1.913905  0.808997  1.034819
1    0.246290 -0.499413 -0.827996 -2.490847  0.018145  0.568648  0.733629
2    0.196879  0.021231  1.109334 -0.268738  0.088358  0.808997  1.215533
3    1.691550 -0.346811  0.487926 -0.809251  0.930918  2.491446  1.466525
4    0.295700  0.227694  1.840403  0.451946  1.281985  0.808997  0.663351
..        ...       ...       ...       ...       ...       ...       ...
173  0.876275  2.974543  0.305159  0.301803 -0.332922 -0.985614 -1.424900
174  0.493343  1.412609  0.414820  1.052516  0.158572 -0.793334 -1.284344
175  0.332758  1.744744 -0.389355  0.151661  1.422412 -1.129824 -1.344582
176  0.209232  0.227694  0.012732  0.151661  1.422412 -1.033684 -1.354622
177  1.395086  1.583165  1.365208  1.502943 -0.262708 -0.392751 -1.274305

           7         8         9         10        11        12   13
0   -0.659563  1.224884  0.251717  0.362177  1.847920  1.013009  0.0
1   -0.820719 -0.544721 -0.293321  0.406051  1.113449  0.965242  0.0
2   -0.498407  2.135968  0.269020  0.318304  0.788587  1.395148  0.0
3   -0.981875  1.032155  1.186068 -0.427544  1.184071  2.334574  0.0
4    0.226796  0.401404 -0.319276  0.362177  0.449601 -0.037874  0.0
..        ...       ...       ...       ...       ...       ...  ...
173  1.274310 -0.930179  1.142811 -1.392758 -1.231206 -0.021952  0.0
174  0.549108 -0.316950  0.969783 -1.129518 -1.485445  0.009893  0.0
175  0.549108 -0.422075  2.224236 -1.612125 -1.485445  0.280575  0.0
176  1.354888 -0.229346  1.834923 -1.568252 -1.400699  0.296498  0.0
177  1.596623 -0.422075  1.791666 -1.524378 -1.428948 -0.595160  0.0

[178 rows x 14 columns]

### Funciones

In [59]:
sigmoid = lambda z: 1.0/(1+np.exp(-z))

def linear_cost(X, y, theta, lmbd):
    h = sigmoid(X @ theta)
    reg = (lmbd / (2 * len(X))) * (theta[1:] ** 2).sum()
    return ((h - y) ** 2).sum() / (2 * len(X)) + reg

def linear_cost_gradient(X, y, theta, lmbd):
    h = sigmoid(X @ theta)
    theta_copy = theta.copy()
    theta_copy[0] = 0
    reg_prime = lmbd * theta_copy / len(X)
    return ((X.T @ (h - y)) / len(X)) + reg_prime

def gradient_descent(
    X, y, theta_0, cost_function, cost_function_gradient, lmbd, learning_rate = 0.01, threshold = 0.0001, max_iter = 10000):
    
    theta = theta_0
    iteration = 0
    costs = []
    thetas = []

    while np.linalg.norm(cost_function_gradient(X, y, theta, lmbd)) > threshold and iteration < max_iter: 
        iteration = iteration + 1
        theta = theta - (learning_rate * cost_function_gradient(X, y, theta, lmbd))
        costs.append(cost_function(X, y, theta, lmbd))
        thetas.append(theta.copy())
    
    return(theta, costs, thetas)

"""
def gradient_descent(X, y, theta, learning_rate, max_iter):
    m =len(X)
    J = [cost(X, y, theta)] 
    for i in range(0, max_iter):
        h = hypothesis(X, theta)
        for i in range(0, len(X)):
            theta = theta - (learning_rate * cost(X, y, theta))
        J.append(cost(X, y, theta))
    return J, theta
"""

'\ndef gradient_descent(X, y, theta, learning_rate, max_iter):\n    m =len(X)\n    J = [cost(X, y, theta)] \n    for i in range(0, max_iter):\n        h = hypothesis(X, theta)\n        for i in range(0, len(X)):\n            theta = theta - (learning_rate * cost(X, y, theta))\n        J.append(cost(X, y, theta))\n    return J, theta\n'

### Label 1

In [66]:
XA1 = np.array(XL1)
YA1 = np.array(y1)
YA1 = YA1.reshape(178,1)

m1, n1 = XA1.shape
theta_1 = np.random.rand(n1, 1)

In [67]:
from sklearn.model_selection import train_test_split
X_train1, X_test1, y_train1, y_test1 = train_test_split(XA1, YA1, test_size=0.3, random_state=100)

In [68]:
costo1, theta1, thetas1 = gradient_descent(X_train1, y_train1, theta_1, linear_cost, linear_cost_gradient, 
                                           lmbd = 10,learning_rate = 0.0001, threshold = 0.1, max_iter = 1000)

### Label 2

In [69]:
XA2 = np.array(XL2)
YA2 = np.array(y2)
YA2 = YA2.reshape(178,1)

m2, n2 = XA2.shape
theta_2 = np.random.rand(n2, 1)

In [70]:
from sklearn.model_selection import train_test_split
X_train2, X_test2, y_train2, y_test2 = train_test_split(XA2, YA2, test_size=0.3, random_state=100)

In [71]:
costo2, theta2, thetas2 = gradient_descent(X_train2, y_train2, theta_2, linear_cost, linear_cost_gradient,
                                  lmbd = 6, learning_rate = 0.000001, max_iter = 1000)

### Label 3

In [72]:
XA3 = np.array(XL3)
YA3 = np.array(y3)
YA3 = YA3.reshape(178,1)

m3, n3 = XA3.shape
theta_3 = np.random.rand(n3, 1)

In [73]:
from sklearn.model_selection import train_test_split
X_train3, X_test3, y_train3, y_test3 = train_test_split(XA3, YA3, test_size=0.3, random_state=100)

In [75]:
costo3, theta3, thetas3 = gradient_descent(X_train3, y_train3, theta_3, linear_cost, linear_cost_gradient, 
                                           lmbd = 6, learning_rate = 0.00001, max_iter = 1000)

### Costos

In [76]:
print("Costo Label 1 mas bajo:", min(costo1))
print("Costo Label 2 mas bajo:", min(costo2))
print("Costo Label 3 mas bajo:", min(costo3))

Costo Label 1 mas bajo: [0.08605219]
Costo Label 2 mas bajo: [0.12275782]
Costo Label 3 mas bajo: [0.13904259]